
.item {
    width: 400px;
    color: #333;
    background: white;
    border: 3px solid#17a2b8;;
    padding: 10px;
    transition: transform .2s;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.5);
}

.item:hover{
  transform: scale(1.1);
}
  
  .item img {
    border-radius: 5px;
    width: 200px;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.9);
  }

  .item img .item img::after {
    content: "No image available.";
    display: block;
    height: 100%;
    width: 100%;
  }
  
  #news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
    justify-items: center;
  }


  .item:nth-child(7n+1) {
    border-color: #4285F4;
  }
  
  .item:nth-child(7n+2) {
    border-color: #DB4437;
  }
  
  .item:nth-child(7n+3) {
    border-color: #F4B400;
  }
  
  .item:nth-child(7n+4) {
    border-color: #0F9D58; 
  }