body {
  margin: 0;
}

.navbar {
  height: 100;
  background-color: black;
  color: whitesmoke;
  margin-bottom: 15;
  text-align: center;
  font-size: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MC104 {
  background-image: url(./MC104.png);
  align-items: left;
  height: 100;
  width: 100;
}

.MC102 {
  background-image: url(./MC102.png);
  align-items: left;
  height: 100;
  width: 100;
}

.MC103 {
  background-image: url(./MC103.png);
  align-items: left;
  height: 100;
  width: 100;
}

.MC101 {
  background-image: url(./MC101.png);
  align-items: left;
  height: 100;
  width: 100;
}
